<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="details content">
            <h2><%= hospital.name %></h2>
            <div class="content">
              <p><%= hospital.address %></p>
              <p><%= hospital.phone %></p>
              <p >Blood group <%= blood %>:<%= hospital[blood] %> litres</p>
              <p id = "Thanks" style="color:crimson;"> We hope you got enough blood! We are happy to serve you again </p>
            </div>
          </div>
          
        <%- include("./partials/footer.ejs") %>
    </body>   
</html>